h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;

  line-height: 1.5; /*space between the lines  */
}
li {
  font-size: 20px;
}
/*footer p {
  descendent selector is p which is called the child for the parentElement (ancentor)  
  font-size: 18px;
}
*/
#author {
  /*id selector */
  font-size: 16px;
  font-style: italic;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 16px;
  font-weight: bold;
}
.bullet-points {
  list-style: none;
}
.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border: #1098ad 5px solid;
  margin-right: 320px;
  margin-left: 20px;
}
li:first-child {
  color: #1098ad;
}
li:last-child {
  color: #1098ad;
}
li:nth-child(2) {
  color: #6410ad;
}
/* stylying hyperlink */
a:link {
  /* we only want to target those element that have href  */
  color: #1098ad;
  text-decoration: none; /* remove the underline */
}
a:visited {
  color: #777;
}
a:hover {
  color: #6410ad;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: #000000;
}
